<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="MathServiceLibrary.MathService">
				
				<endpoint address="http://localhost:4444/MathService" 
						  binding="basicHttpBinding" 
						  bindingConfiguration="" 
						  contract="MathServiceLibrary.IMathService"
						  />
				
			</service>
		</services>
	</system.serviceModel>
</configuration>